/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.heart:hover {
    color: darkred;
    animation: heartbeat 1s infinite;

}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: white;
}

.msg-error {
    background-color: #dc3545;
    color: white;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}